body {
  font-family: "Lato", sans-serif;
}

h1 {
  font-size: 90px;
  font-weight: 700;
}

h2 {
  font-size: 78px;
  font-weight: 700;
}

h3 {
  font-size: 70px;
}

h4, a {
  font-size: 20px;
}

p, h5, h6 {
  font-size: 15px;
}

.fab, .fas {
  color: #A4742C;
  font-size: 40px;
}

.fab:hover, .fas:hover {
  color: #C4C4C4;
  font-size: 50px;
}

@media only screen and (max-width: 740px) {
  h1 {
    font-size: 78px;
    font-weight: 700;
  }

  h2 {
    font-size: 70px;
    font-weight: 700;
  }

  h3 {
    font-size: 40px;
  }

  h4 {
    font-size: 20px;
  }

  p, a, h5, h6 {
    font-size: 15px;
  }
}
@media only screen and (max-width: 556px) {
  h1 {
    font-size: 70px;
    font-weight: 700;
  }

  h2 {
    font-size: 40px;
    font-weight: 700;
  }
}
/* ABOUT SECTION */
#about {
  height: 100vh;
  margin-top: 140px;
  position: relative;
  background-color: #332A2A;
  /* about title */
}
#about h3 {
  padding-top: 70px;
  margin-left: 10%;
  z-index: 3;
  position: relative;
}
#about #about__blob {
  height: 207px;
  width: 195px;
  position: absolute;
  top: 5%;
  left: 5%;
  z-index: 1;
}

/* about grid section */
#about__articles {
  display: grid;
  align-content: center;
  grid-template-columns: 2fr 1fr;
}

/* about me - description */
#about__intro {
  justify-self: center;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 3;
}
#about__intro h3 {
  font-weight: 400;
  line-height: 86px;
  text-align: left;
  margin: 0px 80px;
  color: #E5E5E5;
}
#about__intro h3 span {
  color: #A4742C;
}

/* about me - links */
#contact__links ul {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 4;
  display: flex;
  justify-content: center;
  align-items: center;
}
#contact__links ul li {
  list-style-type: none;
  color: #E5E5E5;
  padding: 0 5%;
}

/* about me img */
#contact__img {
  justify-self: start;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
}
#contact__img img {
  height: 400px;
  width: 350px;
  background-color: gray;
}

@media only screen and (max-width: 1025px) {
  #about #about__articles {
    padding: 40px 0 70px 0;
    grid-template-columns: 1fr;
    row-gap: 25px;
  }
  #about #about__articles #about__intro {
    padding-bottom: 10px;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
  }
  #about #about__articles #contact__img {
    justify-self: center;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
  }
  #about #about__articles #contact__img img {
    height: 350px;
    width: 300px;
  }
}
@media only screen and (max-width: 800px) {
  #about #about__articles {
    padding-top: 20px;
  }
  #about #about__articles #about__intro h3 {
    line-height: normal;
  }
  #about #about__articles #contact__img img {
    height: 300px;
    width: 250px;
  }
  #about #about__articles svg {
    height: 200px;
    width: 200px;
  }
}
@media only screen and (max-width: 650px) {
  #about #about__blob svg {
    height: 110px;
    width: 110px;
  }
  #about #about__articles {
    margin-top: 8%;
    row-gap: 10%;
  }
  #about #about__articles #about__intro h3 {
    line-height: normal;
  }
  #about #about__articles #contact__img img {
    width: 200px;
    height: 250px;
  }
}
@media only screen and (max-width: 415px) {
  #about #about__blob svg {
    height: 110px;
    width: 110px;
  }
  #about #about__articles {
    margin-top: 0;
    row-gap: 25px;
  }
  #about #about__articles #about__intro h3 {
    font-size: 30px;
  }
  #about #about__articles #contact__img img {
    width: 150px;
    height: 200px;
  }
}
@media only screen and (max-width: 376px) {
  #about h3 {
    padding-top: 50px;
  }
  #about #about__blob svg {
    height: 100px;
    width: 100px;
  }
  #about #about__articles {
    padding: 20px 0 30px 0;
    margin-top: 0;
    row-gap: 25px;
  }
  #about #about__articles #about__intro h3 {
    font-size: 30px;
  }
}