@import './_typography.scss';
@import './_variables.scss';

/* ABOUT SECTION */

#about {
    height: 100vh;
    margin-top: 140px;
    position: relative;
    background-color: $colour-grey;

/* about title */

    h3 {
        padding-top: 70px;
        margin-left: 10%;
        z-index: 3;
        position: relative;
    }

    #about__blob {
        height: 207px;
        width: 195px;
        position: absolute;
        top: 5%;
        left: 5%;
        z-index: 1;
    }
}

/* about grid section */

#about__articles {
    display: grid;
    align-content: center;
    grid-template-columns: 2fr 1fr;
}

/* about me - description */

#about__intro {
    justify-self: center;
    grid-column-start: 1;
    grid-column-end: 2;

    grid-row-start: 1;
    grid-row-end: 3;

    h3 {
        font-weight: 400;
        line-height: 86px;
        text-align: left;

        margin: 0px 80px;
        color: $colour-white;

        span {
            color: $colour-ocre;
        } 
    }
}

/* about me - links */

#contact__links { 

    ul {
        grid-column-start: 1;
        grid-column-end: 2;

        grid-row-start: 3;
        grid-row-end: 4;

        display: flex;
        justify-content: center;
        align-items: center;

        li {
            list-style-type: none;
            color: $colour-white;
            padding: 0 5%;
        }
    }
}

/* about me img */

#contact__img {
    justify-self: start;

    grid-column-start: 2;
    grid-column-end: 3;

    grid-row-start: 1;
    grid-row-end: 3;

    img {
        height: 400px;
        width: 350px;
        background-color: gray;
    }
}



@media only screen and (max-width: 1025px) {
    #about {
        
        #about__articles {
            padding: 40px 0 70px 0;
            grid-template-columns: 1fr;
            row-gap: 25px;

            #about__intro {
                padding-bottom: 10px;
                grid-column-start: 1;
                grid-column-end: 2;

                grid-row-start: 1;
                grid-row-end: 2;
            }

            #contact__img {
                justify-self: center;

                grid-column-start: 1;
                grid-column-end: 2;
                
                grid-row-start: 2;
                grid-row-end: 3;
        
                img { 
                    height: 350px;
                    width: 300px;
                }
            }
        }
    }
    
}

@media only screen and (max-width: 800px) {
    #about {
        #about__articles {
            padding-top: 20px;
    
            #about__intro {
                h3 {
                    line-height: normal;
                }
            }
            #contact__img {
                img { 
                    height: 300px;
                    width: 250px;
                }
            }
            
            svg {
                height: 200px;
                width: 200px;
            }

        }
    }
}

           
@media only screen and (max-width: 650px) {
    #about {
        #about__blob {
            svg {
                height: 110px;
                width: 110px;
            }
            

        }

        #contact__img {
                img {
                    
                    width: 200px;
                    height: 250px;
                
                }
        }
        
    }
}