body {
  font-family: "Lato", sans-serif;
}

h1 {
  font-size: 90px;
  font-weight: 700;
}

h2 {
  font-size: 78px;
  font-weight: 700;
}

h3 {
  font-size: 70px;
}

h4, a {
  font-size: 20px;
}

p, h5, h6 {
  font-size: 15px;
}

.fab, .fas {
  color: #A4742C;
  font-size: 40px;
}

.fab:hover, .fas:hover {
  color: #C4C4C4;
  font-size: 40px;
}

@media only screen and (max-width: 740px) {
  h1 {
    font-size: 78px;
    font-weight: 700;
  }

  h2 {
    font-size: 70px;
    font-weight: 700;
  }

  h3 {
    font-size: 40px;
  }

  h4 {
    font-size: 20px;
  }

  p, a, h5, h6 {
    font-size: 15px;
  }

  .fab, .fas {
    font-size: 40px;
  }
}
@media only screen and (max-width: 556px) {
  h1 {
    font-size: 70px;
    font-weight: 700;
  }

  h2 {
    font-size: 40px;
    font-weight: 700;
  }
}
header {
  height: 100vh;
  width: 100vw;
  background-color: #332A2A;
  position: relative;
}

/* header title */
#header__text {
  width: 100%;
  height: 20%;
  position: absolute;
  top: 32%;
  z-index: 10;
  text-align: center;
}
#header__text h1 {
  margin-bottom: 20px;
}

/* blob animation */
#header__animation {
  margin: auto;
}
#header__animation #blob1 {
  width: 518px;
  height: 548px;
  position: absolute;
  top: 13%;
  left: 19%;
  z-index: 1;
  animation: move 10s ease-in-out infinite;
  transform-origin: 50% 50%;
}
#header__animation #blob2 {
  width: 700px;
  height: 558px;
  position: absolute;
  top: 13%;
  left: 35%;
  z-index: 0;
  animation: move 10s ease-in-out infinite;
  transform-origin: 50% 50%;
}

@keyframes move {
  0% {
    transform: scale(1) translate(10px, -20px);
  }
  38% {
    transform: scale(0.8, 0.9) translate(4vw, 2vh) rotate(15deg);
  }
  40% {
    transform: scale(0.8, 0.9) translate(4vw, 2vh) rotate(15deg);
  }
  78% {
    transform: scale(0.9) translate(0vw, -6vh) rotate(-20deg);
  }
  80% {
    transform: scale(0.9) translate(0vw, -6vh) rotate(-20deg);
  }
  100% {
    transform: scale(1) translate(10px, -20px);
  }
}
#vertical-line {
  display: inline-block;
  border-left: 7px solid #C4C4C4;
  margin: 40% 10px 0 95%;
  height: 200px;
}

@media only screen and (max-width: 1025px) {
  header #header__animation #blob1 {
    width: 438px;
    height: auto;
    top: 20%;
    left: 14%;
  }
  header #header__animation #blob1 svg {
    width: 438px;
    height: 468px;
  }
  header #header__animation #blob2 {
    width: 520px;
    height: auto;
    top: 20%;
    left: 35%;
  }
  header #header__animation #blob2 svg {
    width: 520px;
    height: 478px;
  }
  header #vertical-line {
    margin-top: 64%;
  }
}
@media only screen and (max-width: 780px) {
  header #header__animation #blob1 {
    width: 319px;
    height: auto;
    left: 12%;
    top: 30%;
  }
  header #header__animation #blob1 svg {
    width: 318px;
    height: 348px;
  }
  header #header__animation #blob2 {
    width: 400px;
    height: auto;
    top: 30%;
  }
  header #header__animation #blob2 svg {
    width: 400px;
    height: 358px;
  }
}
@media only screen and (max-width: 650px) {
  header #header__animation #blob1 {
    width: 298px;
    left: 4%;
  }
  header #header__animation #blob1 svg {
    width: 298px;
    height: 318px;
  }
  header #header__animation #blob2 {
    width: 350px;
  }
  header #header__animation #blob2 svg {
    width: 350px;
    height: 308px;
  }
  header #vertical-line {
    margin-top: 90vh;
  }
}