@import './_typography.scss';
@import './_variables.scss';

header {
    height: 100vh;
    width: 100vw;
    background-color: $colour-grey;
    position: relative;
}


/* header title */

#header__text {
    width: 100%;
    height: 20%;
    position: absolute;
    top: 32%;
    z-index: 10;
    text-align: center;

    h1 {
        margin-bottom: 20px;
    }
}

/* blob animation */
#header__animation {
    margin: auto;
    #blob1 {
        width:518px;
        height:548px;

        position: absolute;
        top: 13%;
        left: 19%;
        // width: 50vmax;
        z-index: 1;
        animation: move 10s ease-in-out infinite;
        transform-origin: 50% 50%;
    }
    
    #blob2 {
        width:700px;
        height:558px;

        position: absolute;
        top: 13%;
        left: 35%;
        //width: 35vmax;
        z-index: 0;
        animation: move 10s ease-in-out infinite;
        transform-origin: 50% 50%;
    }
}



@keyframes move {
    0%   { transform: scale(1)   translate(10px, -20px); }
    38%  { transform: scale(0.8, 0.9) translate(4vw, 2vh) rotate(15deg); }
    40%  { transform: scale(0.8, 0.9) translate(4vw, 2vh) rotate(15deg); }
    78%  { transform: scale(0.9) translate(0vw, -6vh) rotate(-20deg); }
    80%  { transform: scale(0.9) translate(0vw, -6vh) rotate(-20deg); }
    100% { transform: scale(1)   translate(10px, -20px); } 
  } 

  
  #vertical-line{
    display: inline-block;
    border-left: 7px solid $colour-light-grey;
    margin: 40% 10px 0 95%;
    height: 200px;
}


@media only screen and (max-width: 1025px) {
    header {

        #header__animation {
    
            #blob1 {
                width:438px;
                height:auto;
                top: 20%;
                left: 14%;
                
                svg {
                width:438px;
                height:468px;
                }
            }

            #blob2 {
                width:520px;
                height:auto;
                top: 20%;
                left: 35%;
                
                svg {
                width:520px;
                height:478px;
                }
            }
        }

        #vertical-line{
            margin-top: 64%;
        }
    }
}

@media only screen and (max-width: 780px) {
   header {
        #header__animation {
            #blob1 {
                width:319px;
                height:auto;
                left: 12%;
                top:30%;

                svg {
                width:318px;
                height:348px;
                }
            }

            #blob2 {
                width:400px;
                height:auto;
                top:30%;
               
                svg {
                width:400px;
                height:358px;
                }
            }
        }
   }
    
}

@media only screen and (max-width: 650px) {
    header {
        #header__animation {
            #blob1 {
                width:298px;
                left:4%;
    
                svg{
                width:298px;
                height:318px;
                }
            }
    
            #blob2 {
                width:350px;
                svg{
                width:350px;
                height:308px;
                }
            }
        }
        #vertical-line{
            margin-top: 90vh;
        }
    }
    
    
}