body {
  font-family: "Lato", sans-serif;
}

h1 {
  font-size: 90px;
  font-weight: 700;
}

h2 {
  font-size: 78px;
  font-weight: 700;
}

h3 {
  font-size: 40px;
}

h4, a {
  font-size: 20px;
}

p, h5, h6 {
  font-size: 15px;
}

.fab, .fas {
  color: #A4742C;
  font-size: 40px;
}

@media only screen and (max-width: 768px) {
  h1 {
    font-size: 78px;
    font-weight: 700;
  }

  h2 {
    font-size: 70px;
    font-weight: 700;
  }

  h3 {
    font-size: 20px;
  }

  h4 {
    font-size: 20px;
  }

  p, a, h5, h6 {
    font-size: 15px;
  }

  .fab, .fas {
    font-size: 20px;
  }
}
@media only screen and (max-width: 600px) {
  h1 {
    font-size: 70px;
    font-weight: 700;
  }

  h2 {
    font-size: 40px;
    font-weight: 700;
  }

  h3 {
    font-size: 20px;
  }

  h4 {
    font-size: 15px;
  }

  p, a, h5, h6 {
    font-size: 10px;
  }

  .fab, .fas {
    font-size: 15px;
  }
}
/* PROJECTS SECTION */
main {
  z-index: 2;
  width: 100vw;
}

#project__section {
  position: relative;
  width: 100vw;
}

#project__grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 4%;
  margin: 9% 0;
  z-index: 10;
}
#project__grid .project {
  position: relative;
  justify-self: center;
  align-self: center;
  height: 300px;
  width: 300px;
  margin-bottom: 20%;
  z-index: 10;
}
#project__grid .project h4 {
  margin-top: 10px;
  color: #332A2A;
  text-align: center;
  z-index: 9;
}
#project__grid .project .project__default-text {
  height: 300px;
  width: 300px;
  background-color: #C4C4C4;
  z-index: 10;
}
#project__grid .project:hover {
  padding-bottom: 150px;
}
#project__grid .project:hover .project__default {
  display: none;
}

.project__dropdown {
  height: 500px;
  width: 301px;
  display: none;
  position: absolute;
  top: 0;
  background-color: white;
  border: 1px solid #E5E5E5;
  min-width: 160px;
  box-shadow: 3px 0px 4px 0px #A4742C;
  z-index: 2;
}
.project__dropdown .project__dropdown-image {
  height: 200px;
  width: 300px;
  background-color: #E5E5E5;
  border: 1px solid #E5E5E5;
  border-radius: 3px;
  z-index: 2;
  margin-bottom: 8px;
}
.project__dropdown .project__dropdown-text {
  z-index: 3;
  text-align: left;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 5px;
  left: 0;
}
.project__dropdown .project__dropdown-text p {
  text-align: center;
  text-justify: inter-word;
  margin-top: 20px;
}
.project__dropdown .project__dropdown-text ul {
  margin-top: 30px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.project__dropdown .project__dropdown-text ul li {
  list-style-type: none;
}
.project__dropdown .project__dropdown-text .project__dropdown-buttons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 30px;
}
.project__dropdown .project__dropdown-text .project__dropdown-buttons button {
  width: 100px;
  background-color: #C4C4C4;
  color: #332A2A;
  border: 1px solid #C4C4C4;
  padding: 10px 20px;
}
.project__dropdown .project__dropdown-text .project__dropdown-buttons button:hover {
  border: 1px solid #332A2A;
  color: #E5E5E5;
  background-color: #332A2A;
}

.project:hover .project__dropdown {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

#blob3 {
  opacity: 80%;
  width: 45vw;
  height: 576px;
  position: absolute;
  left: 25%;
  z-index: 3;
}

@media only screen and (max-width: 1100px) {
  #project__grid {
    grid-template-columns: 1fr 1fr;
  }
}
@media only screen and (max-width: 600px) {
  #project__grid {
    grid-template-columns: 1fr;
  }
}