body {
  font-family: "Lato", sans-serif;
}

h1 {
  font-size: 90px;
  font-weight: 700;
}

h2 {
  font-size: 78px;
  font-weight: 700;
}

h3 {
  font-size: 70px;
}

h4, a {
  font-size: 20px;
}

p, h5, h6 {
  font-size: 15px;
}

.fab, .fas {
  color: #A4742C;
  font-size: 40px;
}

.fab:hover, .fas:hover {
  color: #C4C4C4;
  font-size: 40px;
}

@media only screen and (max-width: 740px) {
  h1 {
    font-size: 78px;
    font-weight: 700;
  }

  h2 {
    font-size: 70px;
    font-weight: 700;
  }

  h3 {
    font-size: 40px;
  }

  h4 {
    font-size: 20px;
  }

  p, a, h5, h6 {
    font-size: 15px;
  }

  .fab, .fas {
    font-size: 40px;
  }
}
/* @media only screen and (max-width: 600px) {
    h1 {
        font-size: $font-L;
        font-weight: $bold;
    }

    h2 {
        font-size: $font-M;
        font-weight: $bold;
    }

    h3 {
        font-size: $font-S;
    }

    h4 {
        font-size: $font-XS;
    }

    p, a, h5, h6 {
        font-size: $font-XXS;
    }

    .fab, .fas {
        font-size: $font-S;
    }

} */
/* PROJECTS SECTION */
main {
  z-index: 2;
}

#projects__title {
  margin-top: 70px;
  margin-left: 10%;
}

#project__section {
  position: relative;
}

#project__grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 4%;
  margin: 6% 0;
  z-index: 10;
}
#project__grid .project {
  transition: 0.6s ease;
  position: relative;
  justify-self: center;
  align-self: center;
  height: 300px;
  width: 300px;
  margin-bottom: 30%;
  z-index: 10;
}
#project__grid .project h4 {
  margin-top: 10px;
  color: #A4742C;
  text-align: center;
  z-index: 9;
}
#project__grid .project .project__default-text {
  height: 300px;
  width: 300px;
  background-color: #C4C4C4;
  z-index: 10;
}
#project__grid .project:hover {
  padding-bottom: 50px;
}
#project__grid .project:hover .project__default {
  display: none;
}

.project__dropdown {
  height: 500px;
  width: 301px;
  display: none;
  position: absolute;
  top: 0;
  background-color: white;
  border: 1px solid #E5E5E5;
  min-width: 160px;
  box-shadow: 3px 0px 4px 0px #A4742C;
  z-index: 2;
}
.project__dropdown .project__dropdown-image {
  height: 200px;
  width: 300px;
  background-color: #E5E5E5;
  border: 1px solid #E5E5E5;
  border-radius: 3px;
  z-index: 2;
  margin-bottom: 8px;
}
.project__dropdown .project__dropdown-text {
  z-index: 3;
  text-align: left;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 5px;
  left: 0;
}
.project__dropdown .project__dropdown-text p {
  text-align: center;
  text-justify: inter-word;
  margin-top: 20px;
}
.project__dropdown .project__dropdown-text ul {
  margin-top: 30px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.project__dropdown .project__dropdown-text ul li {
  list-style-type: none;
}
.project__dropdown .project__dropdown-text .project__dropdown-buttons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 30px;
}
.project__dropdown .project__dropdown-text .project__dropdown-buttons button {
  width: 100px;
  background-color: #C4C4C4;
  color: #332A2A;
  border: 1px solid #C4C4C4;
  padding: 10px 20px;
}
.project__dropdown .project__dropdown-text .project__dropdown-buttons button:hover {
  border: 1px solid #332A2A;
  color: #E5E5E5;
  background-color: #332A2A;
}

.project:hover .project__dropdown {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

#vertical-line2 {
  position: absolute;
  z-index: 2;
  display: inline-block;
  border-left: 7px solid #A4742C;
  margin: -30px 10px 0 95%;
  height: 150px;
}

@media only screen and (max-width: 1025px) {
  #vertical-line2 {
    margin: -2% 10px 0 95%;
    height: 200px;
  }

  #project__grid {
    grid-template-columns: 1fr 1fr;
  }
}
.project:hover {
  padding-bottom: 190px;
}

@media only screen and (max-width: 610px) {
  #project__grid {
    grid-template-columns: 1fr;
    padding-bottom: 80%;
  }
  #project__grid .project {
    margin-bottom: 10%;
  }
  #project__grid .project:hover {
    margin-bottom: 14%;
  }
}