body {
  font-family: "Lato", sans-serif;
}

h1 {
  font-size: 90px;
  font-weight: 700;
}

h2 {
  font-size: 78px;
  font-weight: 700;
}

h3 {
  font-size: 40px;
}

h4, a {
  font-size: 20px;
}

p, h5, h6 {
  font-size: 15px;
}

@media only screen and (max-width: 768px) {
  h1 {
    font-size: 78px;
    font-weight: 700;
  }

  h2 {
    font-size: 70px;
    font-weight: 700;
  }

  h3 {
    font-size: 20px;
  }

  h4 {
    font-size: 20px;
  }

  p, a, h5, h6 {
    font-size: 15px;
  }
}
@media only screen and (max-width: 600px) {
  h1 {
    font-size: 70px;
    font-weight: 700;
  }

  h2 {
    font-size: 40px;
    font-weight: 700;
  }

  h3 {
    font-size: 20px;
  }

  h4 {
    font-size: 15px;
  }

  p, a, h5, h6 {
    font-size: 10px;
  }
}
/* PROJECTS SECTION */
main {
  width: 100vw;
}

#project__section {
  position: relative;
  height: 120vh;
  width: 100vw;
}

#project__grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 4%;
  margin: 9% 0;
  z-index: 10;
}
#project__grid .project {
  position: relative;
  justify-self: center;
  align-self: center;
  height: 300px;
  width: 300px;
  margin-bottom: 120px;
  z-index: 10;
}
#project__grid .project h4, #project__grid .project p {
  margin-top: 10px;
  color: #332A2A;
  text-align: center;
  z-index: 9;
}
#project__grid .project .project__dropdown {
  height: 400px;
  width: 300px;
  display: none;
  position: absolute;
  top: 0;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
#project__grid .project .project__dropdown-text {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 5px;
  left: 0;
}
#project__grid .project .project__dropdown-text p {
  text-align: left;
}
#project__grid .project .project__dropdown-text ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
#project__grid .project .project__dropdown-text ul li {
  list-style-type: none;
}
#project__grid .project__image {
  height: 300px;
  width: 300px;
  background-color: #C4C4C4;
  z-index: 10;
}

.projects:hover .project__dropdown .project__dropdown-text {
  background-color: rgba(188, 143, 143, 0.217);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  font-size: larger;
  color: green;
}

#blob3 {
  position: absolute;
  left: 25%;
  z-index: 1;
}

@media only screen and (max-width: 1100px) {
  #project__grid {
    grid-template-columns: 1fr 1fr;
  }
}
@media only screen and (max-width: 600px) {
  #project__grid {
    grid-template-columns: 1fr;
  }
}