@import './_typography.scss';
@import './_variables.scss';


/* PROJECTS SECTION */
main {
    z-index: 2;
    width: 100vw;
}

#projects__title {
    margin-top: 70px;
    margin-left: 10%;
}

#project__section {
    position: relative;
    width: 100vw;
}

#project__grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 4%;
    margin: 6% 0;
    z-index: 10;

    .project {
        transition: 0.6s ease;
        position: relative;
        justify-self: center;
        align-self: center;
        height: 300px;
        width: 300px;
        margin-bottom: 30%;
        z-index: 10;

        h4 {
            margin-top: 10px;
            color: $colour-ocre;
            text-align: center;
            z-index: 9;
        }
        
        .project__default-text {
            height: 300px;
            width: 300px;
            background-color: $colour-light-grey;
            z-index: 10;
        }
    }
    .project:hover {
        padding-bottom: 50px;
    }

    .project:hover .project__default {
        display: none;
    }


}

.project__dropdown {
    height: 500px;
    width: 301px;
    display: none;
    position: absolute;
    top: 0;
    background-color: white;
    border: 1px solid $colour-white;
    min-width: 160px;
    box-shadow: 3px 0px 4px 0px $colour-ocre;
    z-index: 2;

    .project__dropdown-image {
        height: 200px;
        width: 300px;
        background-color: $colour-white;
        border: 1px solid $colour-white;
        border-radius: 3px;
        z-index: 2;
        margin-bottom: 8px;
    }

    .project__dropdown-text {
        z-index: 3;
        text-align: left;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 5px;
        left: 0;
        
        p {
            text-align: center;
            text-justify: inter-word;
            margin-top: 20px;
        }

        ul {
            margin-top: 30px;
            display: flex;
            justify-content: space-evenly;
            align-items: center;

            li {
                list-style-type: none;
            }
        }

        .project__dropdown-buttons {
            display: flex;
            justify-content: space-around;
            align-items: center;
            margin-top: 30px ;
            

            button {
                width: 100px;
                background-color: $colour-light-grey;
                color: $colour-grey;
                border: 1px solid $colour-light-grey;
                padding: 10px 20px;
            }

            button:hover {
                border: 1px solid $colour-grey;
                color: $colour-white;
                background-color: $colour-grey;
            }
        }
    }
    
}
    

.project:hover .project__dropdown {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    
    
}



@media only screen and (max-width: 1100px) {
    #project__grid {
        grid-template-columns: 1fr 1fr;
    }
}


@media only screen and (max-width: 600px) {
    #project__grid {
        grid-template-columns: 1fr;
    }
}