@import './_variables.scss';

//FONTS
$main-font: 'Lato', sans-serif;

$font-XXL: 90px;
$font-XL: 78px;
$font-L: 70px;
$font-M: 40px;
$font-S: 20px;
$font-XS: 15px;
$font-XXS: 10px;

$bold : 700;


body {
    font-family: $main-font;
}
h1 {
    font-size: $font-XXL;
    font-weight: $bold;
}

h2 {
    font-size: $font-XL;
    font-weight: $bold;
}

h3 {
    font-size: $font-L;
}

h4, a{
    font-size: $font-S;
}

p, h5, h6 {
    font-size: $font-XS;
}

// ICONS

.fab, .fas {
    color: $colour-ocre;
    font-size: $font-M;
}

.fab:hover, .fas:hover {
    color: $colour-light-grey;
    font-size: $font-M;
}


@media only screen and (max-width: 768px) {
    h1 {
        font-size: $font-XL;
        font-weight: $bold;
    }
    
    h2 {
        font-size: $font-L;
        font-weight: $bold;
    }
    
    h3 {
        font-size: $font-S;
    }
    
    h4 {
        font-size: $font-S;
    }
    
    p, a, h5, h6 {
        font-size: $font-XS;
    }

    .fab, .fas {
        font-size: $font-S;
    }

}

@media only screen and (max-width: 600px) {
    h1 {
        font-size: $font-L;
        font-weight: $bold;
    }
    
    h2 {
        font-size: $font-M;
        font-weight: $bold;
    }
    
    h3 {
        font-size: $font-S;
    }
    
    h4 {
        font-size: $font-XS;
    }
    
    p, a, h5, h6 {
        font-size: $font-XXS;
    }

    .fab, .fas {
        font-size: $font-XS;
    }

}


