body {
  font-family: "Lato", sans-serif;
}

h1 {
  font-size: 90px;
  font-weight: 700;
}

h2 {
  font-size: 78px;
  font-weight: 700;
}

h3 {
  font-size: 70px;
}

h4, a {
  font-size: 20px;
}

p, h5, h6 {
  font-size: 15px;
}

.fab, .fas {
  color: #A4742C;
  font-size: 40px;
}

.fab:hover, .fas:hover {
  color: #C4C4C4;
  font-size: 50px;
}

@media only screen and (max-width: 740px) {
  h1 {
    font-size: 78px;
    font-weight: 700;
  }

  h2 {
    font-size: 70px;
    font-weight: 700;
  }

  h3 {
    font-size: 40px;
  }

  h4 {
    font-size: 20px;
  }

  p, a, h5, h6 {
    font-size: 15px;
  }
}
@media only screen and (max-width: 556px) {
  h1 {
    font-size: 70px;
    font-weight: 700;
  }

  h2 {
    font-size: 40px;
    font-weight: 700;
  }
}
body {
  font-family: "Lato", sans-serif;
}

h1 {
  font-size: 90px;
  font-weight: 700;
}

h2 {
  font-size: 78px;
  font-weight: 700;
}

h3 {
  font-size: 70px;
}

h4, a {
  font-size: 20px;
}

p, h5, h6 {
  font-size: 15px;
}

.fab, .fas {
  color: #A4742C;
  font-size: 40px;
}

.fab:hover, .fas:hover {
  color: #C4C4C4;
  font-size: 50px;
}

@media only screen and (max-width: 740px) {
  h1 {
    font-size: 78px;
    font-weight: 700;
  }

  h2 {
    font-size: 70px;
    font-weight: 700;
  }

  h3 {
    font-size: 40px;
  }

  h4 {
    font-size: 20px;
  }

  p, a, h5, h6 {
    font-size: 15px;
  }
}
@media only screen and (max-width: 556px) {
  h1 {
    font-size: 70px;
    font-weight: 700;
  }

  h2 {
    font-size: 40px;
    font-weight: 700;
  }
}
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lato", sans-serif;
}

h1 {
  font-size: 90px;
  font-weight: 700;
}

h2 {
  font-size: 78px;
  font-weight: 700;
}

h3 {
  font-size: 70px;
}

h4, a {
  font-size: 20px;
}

p, h5, h6 {
  font-size: 15px;
}

.fab, .fas {
  color: #A4742C;
  font-size: 40px;
}

.fab:hover, .fas:hover {
  color: #C4C4C4;
  font-size: 50px;
}

@media only screen and (max-width: 740px) {
  h1 {
    font-size: 78px;
    font-weight: 700;
  }

  h2 {
    font-size: 70px;
    font-weight: 700;
  }

  h3 {
    font-size: 40px;
  }

  h4 {
    font-size: 20px;
  }

  p, a, h5, h6 {
    font-size: 15px;
  }
}
@media only screen and (max-width: 556px) {
  h1 {
    font-size: 70px;
    font-weight: 700;
  }

  h2 {
    font-size: 40px;
    font-weight: 700;
  }
}
/* navigation */
nav {
  z-index: 20;
  position: fixed;
  height: 45px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
nav ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style-type: none;
  margin-right: 10px;
}
nav ul li {
  padding: 0px 20px;
  transition: color 0.4s ease-out;
}
nav ul li a {
  color: #E5E5E5;
  text-decoration: none;
}
nav ul li a:hover {
  cursor: pointer;
  color: #A4742C;
}

body {
  font-family: "Lato", sans-serif;
}

h1 {
  font-size: 90px;
  font-weight: 700;
}

h2 {
  font-size: 78px;
  font-weight: 700;
}

h3 {
  font-size: 70px;
}

h4, a {
  font-size: 20px;
}

p, h5, h6 {
  font-size: 15px;
}

.fab, .fas {
  color: #A4742C;
  font-size: 40px;
}

.fab:hover, .fas:hover {
  color: #C4C4C4;
  font-size: 50px;
}

@media only screen and (max-width: 740px) {
  h1 {
    font-size: 78px;
    font-weight: 700;
  }

  h2 {
    font-size: 70px;
    font-weight: 700;
  }

  h3 {
    font-size: 40px;
  }

  h4 {
    font-size: 20px;
  }

  p, a, h5, h6 {
    font-size: 15px;
  }
}
@media only screen and (max-width: 556px) {
  h1 {
    font-size: 70px;
    font-weight: 700;
  }

  h2 {
    font-size: 40px;
    font-weight: 700;
  }
}
header {
  height: 100vh;
  width: 100vw;
  background-color: #332A2A;
  position: relative;
}

/* header title */
#header__text {
  width: 100%;
  height: 20%;
  position: absolute;
  top: 32%;
  z-index: 10;
  text-align: center;
}
#header__text h1 {
  margin-bottom: 20px;
}

/* blob animation */
#header__animation {
  margin: auto;
}
#header__animation #blob1 {
  width: 518px;
  height: 548px;
  position: absolute;
  top: 13%;
  left: 19%;
  z-index: 1;
  animation: move 10s ease-in-out infinite;
  transform-origin: 50% 50%;
}
#header__animation #blob2 {
  width: 700px;
  height: 558px;
  position: absolute;
  top: 13%;
  left: 35%;
  z-index: 0;
  animation: move 10s ease-in-out infinite;
  transform-origin: 50% 50%;
}

@keyframes move {
  0% {
    transform: scale(1) translate(10px, -20px);
  }
  38% {
    transform: scale(0.8, 0.9) translate(4vw, 2vh) rotate(15deg);
  }
  40% {
    transform: scale(0.8, 0.9) translate(4vw, 2vh) rotate(15deg);
  }
  78% {
    transform: scale(0.9) translate(0vw, -6vh) rotate(-20deg);
  }
  80% {
    transform: scale(0.9) translate(0vw, -6vh) rotate(-20deg);
  }
  100% {
    transform: scale(1) translate(10px, -20px);
  }
}
#vertical-line {
  display: inline-block;
  border-left: 7px solid #C4C4C4;
  margin: 40% 10px 0 95%;
  height: 200px;
}

@media only screen and (max-width: 1025px) {
  header #header__animation #blob1 {
    width: 438px;
    height: auto;
    top: 20%;
    left: 14%;
  }
  header #header__animation #blob1 svg {
    width: 438px;
    height: 468px;
  }
  header #header__animation #blob2 {
    width: 520px;
    height: auto;
    top: 20%;
    left: 35%;
  }
  header #header__animation #blob2 svg {
    width: 520px;
    height: 478px;
  }
  header #vertical-line {
    margin-top: 64%;
  }
}
@media only screen and (max-width: 780px) {
  header #header__animation #blob1 {
    width: 319px;
    height: auto;
    left: 12%;
    top: 30%;
  }
  header #header__animation #blob1 svg {
    width: 318px;
    height: 348px;
  }
  header #header__animation #blob2 {
    width: 400px;
    height: auto;
    top: 30%;
  }
  header #header__animation #blob2 svg {
    width: 400px;
    height: 358px;
  }
  header #vertical-line {
    margin-top: 90vh;
  }
}
@media only screen and (max-width: 650px) {
  header #header__animation #blob1 {
    width: 298px;
    left: 4%;
  }
  header #header__animation #blob1 svg {
    width: 298px;
    height: 318px;
  }
  header #header__animation #blob2 {
    width: 350px;
  }
  header #header__animation #blob2 svg {
    width: 350px;
    height: 308px;
  }
}
@media only screen and (max-width: 416px) {
  header #header__animation #blob1 {
    width: 198px;
    left: 3%;
    top: 30%;
  }
  header #header__animation #blob1 svg {
    width: 198px;
    height: 218px;
  }
  header #header__animation #blob2 {
    top: 30%;
    width: 240px;
    left: 32%;
  }
  header #header__animation #blob2 svg {
    width: 240px;
    height: 208px;
  }
  @keyframes move {
    0%, 100% {
      transform: scale(1) translate(10px, -20px);
    }
    38% {
      transform: scale(0.9) translate(0.5vw, 1vh) rotate(50deg);
    }
    40% {
      transform: scale(0.9) translate(0.5vw, 1vh) rotate(50deg);
    }
    78% {
      transform: scale(1) translate(0vw, -2vh) rotate(-20deg);
    }
    80% {
      transform: scale(1) translate(0vw, -2vh) rotate(-20deg);
    }
  }
  header #vertical-line {
    margin-top: 85vh;
  }
}
@media only screen and (max-width: 376px) {
  header #header__animation #blob2 {
    width: 230px;
    left: 31%;
  }
  header #header__animation #blob2 svg {
    width: 230px;
    height: 208px;
  }
}
body {
  font-family: "Lato", sans-serif;
}

h1 {
  font-size: 90px;
  font-weight: 700;
}

h2 {
  font-size: 78px;
  font-weight: 700;
}

h3 {
  font-size: 70px;
}

h4, a {
  font-size: 20px;
}

p, h5, h6 {
  font-size: 15px;
}

.fab, .fas {
  color: #A4742C;
  font-size: 40px;
}

.fab:hover, .fas:hover {
  color: #C4C4C4;
  font-size: 50px;
}

@media only screen and (max-width: 740px) {
  h1 {
    font-size: 78px;
    font-weight: 700;
  }

  h2 {
    font-size: 70px;
    font-weight: 700;
  }

  h3 {
    font-size: 40px;
  }

  h4 {
    font-size: 20px;
  }

  p, a, h5, h6 {
    font-size: 15px;
  }
}
@media only screen and (max-width: 556px) {
  h1 {
    font-size: 70px;
    font-weight: 700;
  }

  h2 {
    font-size: 40px;
    font-weight: 700;
  }
}
/* PROJECTS SECTION */
main {
  z-index: 2;
}

#projects__title {
  margin-top: 70px;
  margin-left: 10%;
}

#project__section {
  position: relative;
}

#project__grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 4%;
  margin: 6% 0;
  z-index: 10;
}
#project__grid .project {
  transition: 0.6s ease;
  position: relative;
  justify-self: center;
  align-self: center;
  height: 300px;
  width: 300px;
  margin-bottom: 30%;
  z-index: 10;
}
#project__grid .project h4 {
  margin-top: 10px;
  color: #A4742C;
  text-align: center;
  z-index: 9;
}
#project__grid .project .project__default-text {
  height: 300px;
  width: 300px;
  background-color: #C4C4C4;
  z-index: 10;
}
#project__grid .project:hover {
  padding-bottom: 50px;
}
#project__grid .project:hover .project__default {
  display: none;
}

.project__dropdown {
  height: 500px;
  width: 301px;
  display: none;
  position: absolute;
  top: 0;
  background-color: white;
  border: 1px solid #E5E5E5;
  min-width: 160px;
  box-shadow: 3px 0px 4px 0px #A4742C;
  z-index: 2;
}
.project__dropdown .project__dropdown-image {
  height: 200px;
  width: 300px;
  background-color: #E5E5E5;
  border: 1px solid #E5E5E5;
  border-radius: 3px;
  z-index: 2;
  margin-bottom: 8px;
}
.project__dropdown .project__dropdown-text {
  z-index: 3;
  text-align: left;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 5px;
  left: 0;
}
.project__dropdown .project__dropdown-text p {
  text-align: center;
  text-justify: inter-word;
  margin-top: 20px;
}
.project__dropdown .project__dropdown-text ul {
  margin-top: 30px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.project__dropdown .project__dropdown-text ul li {
  list-style-type: none;
}
.project__dropdown .project__dropdown-text .project__dropdown-buttons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 30px;
}
.project__dropdown .project__dropdown-text .project__dropdown-buttons button {
  width: 100px;
  background-color: #C4C4C4;
  color: #332A2A;
  border: 1px solid #C4C4C4;
  padding: 10px 20px;
}
.project__dropdown .project__dropdown-text .project__dropdown-buttons button:hover {
  border: 1px solid #332A2A;
  color: #E5E5E5;
  background-color: #332A2A;
}

.project:hover .project__dropdown {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

#vertical-line2 {
  position: absolute;
  z-index: 2;
  display: inline-block;
  border-left: 7px solid #A4742C;
  margin: -30px 10px 0 95%;
  height: 150px;
}

@media only screen and (max-width: 1025px) {
  #vertical-line2 {
    margin: -2% 10px 0 95%;
    height: 200px;
  }

  #project__grid {
    grid-template-columns: 1fr 1fr;
  }
}
.project:hover {
  padding-bottom: 190px;
}

@media only screen and (max-width: 610px) {
  #project__grid {
    grid-template-columns: 1fr;
    padding-bottom: 80%;
  }
  #project__grid .project {
    margin-bottom: 10%;
  }
}
@media only screen and (max-width: 415px) {
  #project__grid {
    justify-self: center;
    align-content: center;
    row-gap: 6%;
    margin: 48vh 0 10% 0;
  }
  #project__grid .project {
    margin-bottom: 10%;
    padding-bottom: 10px;
  }
  #project__grid .project .project__dropdown {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 400px;
    width: 300px;
  }
  #project__grid .project .project__dropdown .project__dropdown-image {
    height: 150px;
    width: 300px;
  }
  #project__grid .project .project__dropdown .project__dropdown-text p {
    font-size: 15px;
    margin-top: 10px;
  }
  #project__grid .project .project__dropdown .project__dropdown-text ul {
    margin-top: 10px;
  }
  #project__grid .project .project__dropdown .project__dropdown-text ul li i {
    font-size: 25px;
  }
  #project__grid .project .project__dropdown .project__dropdown-buttons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 30px;
  }
  #project__grid .project .project__dropdown .project__dropdown-buttons button {
    width: 100px;
    background-color: #C4C4C4;
    color: #332A2A;
    border: 1px solid #C4C4C4;
    padding: 10px 20px;
  }
  #project__grid .project .project__dropdown .project__dropdown-buttons button:active {
    border: 1px solid #332A2A;
    color: #E5E5E5;
    background-color: #332A2A;
  }
}
body {
  font-family: "Lato", sans-serif;
}

h1 {
  font-size: 90px;
  font-weight: 700;
}

h2 {
  font-size: 78px;
  font-weight: 700;
}

h3 {
  font-size: 70px;
}

h4, a {
  font-size: 20px;
}

p, h5, h6 {
  font-size: 15px;
}

.fab, .fas {
  color: #A4742C;
  font-size: 40px;
}

.fab:hover, .fas:hover {
  color: #C4C4C4;
  font-size: 50px;
}

@media only screen and (max-width: 740px) {
  h1 {
    font-size: 78px;
    font-weight: 700;
  }

  h2 {
    font-size: 70px;
    font-weight: 700;
  }

  h3 {
    font-size: 40px;
  }

  h4 {
    font-size: 20px;
  }

  p, a, h5, h6 {
    font-size: 15px;
  }
}
@media only screen and (max-width: 556px) {
  h1 {
    font-size: 70px;
    font-weight: 700;
  }

  h2 {
    font-size: 40px;
    font-weight: 700;
  }
}
/* ABOUT SECTION */
#about {
  height: 100vh;
  margin-top: 140px;
  position: relative;
  background-color: #332A2A;
  /* about title */
}
#about h3 {
  padding-top: 70px;
  margin-left: 10%;
  z-index: 3;
  position: relative;
}
#about #about__blob {
  height: 207px;
  width: 195px;
  position: absolute;
  top: 5%;
  left: 5%;
  z-index: 1;
}

/* about grid section */
#about__articles {
  display: grid;
  align-content: center;
  grid-template-columns: 2fr 1fr;
}

/* about me - description */
#about__intro {
  justify-self: center;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 3;
}
#about__intro h3 {
  font-weight: 400;
  line-height: 86px;
  text-align: left;
  margin: 0px 80px;
  color: #E5E5E5;
}
#about__intro h3 span {
  color: #A4742C;
}

/* about me - links */
#contact__links ul {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 4;
  display: flex;
  justify-content: center;
  align-items: center;
}
#contact__links ul li {
  list-style-type: none;
  color: #E5E5E5;
  padding: 0 5%;
}

/* about me img */
#contact__img {
  justify-self: start;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
}
#contact__img img {
  height: 400px;
  width: 350px;
  background-color: gray;
}

@media only screen and (max-width: 1025px) {
  #about #about__articles {
    padding: 40px 0 70px 0;
    grid-template-columns: 1fr;
    row-gap: 25px;
  }
  #about #about__articles #about__intro {
    padding-bottom: 10px;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
  }
  #about #about__articles #contact__img {
    justify-self: center;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
  }
  #about #about__articles #contact__img img {
    height: 350px;
    width: 300px;
  }
}
@media only screen and (max-width: 800px) {
  #about #about__articles {
    padding-top: 20px;
  }
  #about #about__articles #about__intro h3 {
    line-height: normal;
  }
  #about #about__articles #contact__img img {
    height: 300px;
    width: 250px;
  }
  #about #about__articles svg {
    height: 200px;
    width: 200px;
  }
}
@media only screen and (max-width: 650px) {
  #about #about__blob svg {
    height: 110px;
    width: 110px;
  }
  #about #about__articles {
    margin-top: 8%;
    row-gap: 10%;
  }
  #about #about__articles #about__intro h3 {
    line-height: normal;
  }
  #about #about__articles #contact__img img {
    width: 200px;
    height: 250px;
  }
}
@media only screen and (max-width: 415px) {
  #about #about__blob svg {
    height: 110px;
    width: 110px;
  }
  #about #about__articles {
    margin-top: 0;
    row-gap: 25px;
  }
  #about #about__articles #about__intro h3 {
    font-size: 30px;
  }
  #about #about__articles #contact__img img {
    width: 150px;
    height: 200px;
  }
}
@media only screen and (max-width: 376px) {
  #about h3 {
    padding-top: 50px;
  }
  #about #about__blob svg {
    height: 100px;
    width: 100px;
  }
  #about #about__articles {
    padding: 20px 0 30px 0;
    margin-top: 0;
    row-gap: 25px;
  }
  #about #about__articles #about__intro h3 {
    font-size: 30px;
  }
}